// Colors
$grey: #333333;
$white: #FFF;
$text-grey: rgb(102,102,102);
$light-grey: #f1f1f1;
$mild-light-grey: #bbb;
$dark-grey: rgb(68,68,68);

$purple: #b45fa9;
$dark-purple: #942f89;

$green-success: #15cd72;
$red-fail: #e06c75;
