// Colors
$grey: #333333;
$white: #FFF;
$text-grey: rgb(102,102,102);
$light-grey: #f1f1f1;
$mild-light-grey: #bbb;
$dark-grey: rgb(68,68,68);

$purple: #b45fa9;
$dark-purple: #942f89;

$green-success: #15cd72;
$red-fail: #e06c75;

$dark-red: #a94442;
$light-red: #f2dede;
$alert-border-red: #ebccd1;

$dark-green: #3c763d;
$light-green: #dff0d8;
$alert-border-green: #d6e9c6;
