div.settings-table {
  border-top: 2px solid $light-grey;
  color: $text-grey;
  font-family: "proxima-nova",sans-serif;
  font-style: normal;
  font-weight: 600;

  .site-item {
    border-bottom: 2px solid $light-grey;
    color: $dark-grey;
    font-family: "proxima-nova",sans-serif;
    font-style: normal;

    padding: 1rem 0;

    display: flex;
    justify-content: space-between;

    a {
      &:hover, &:link, &:active, &:visited {
        color: $purple;
        font-weight: 600;
      }
    }
    div {
      border-top: 1px;
      color: $dark-grey;
      font-family: "proxima-nova",sans-serif;
      font-style: normal;
      a {
        &.site-url {
          color: $purple;
          font-weight: 600;
           &:link, &:visited {
            color: $purple;
            font-weight: 600;
          }
          &:hover, &:active {
           color: $dark-purple;
           font-weight: 600;
          }
        }
        &.settings-url {
          color: $text-grey;
          font-weight: 600;
          &:link, &:visited {
            color: $text-grey;
            font-weight: 600;
          }
          &:hover, &:active {
            color: $dark-grey;
            font-weight: 600;
          }
        }
      }
    }
  }
}

span.settings-action {
  padding: 0 1rem;
  i.fa-cog {
    cursor: pointer;
    color: $text-grey;
    &:hover {
      color: $green-success;
    }
  }
  i.fa-close {
    cursor: pointer;
    color: $text-grey;
    &:hover {
      color: $red-fail;
    }
  }
}
