h1 {
  font-weight: 300;
  font-family: "proxima-nova",sans-serif;
  color: $dark-grey;
}
h2 {
  font-weight: 600;
  font-family: "proxima-nova",sans-serif;
  font-size: 2rem;
  color: $text-grey;
}
h3 {
  font-weight: 300;
  font-family: "proxima-nova",sans-serif;
  color: $dark-grey;
  font-size: 2rem;
}

.solid-text-grey {
  font-weight: 600;
  font-family: "proxima-nova",sans-serif;
  color: $text-grey;
}
